/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
    /* colors */
    --clr-light-blue: 198, 84%, 56%;
    --clr-dark-blue : 228, 84%, 56%;
    --clr-dark-orange: 46, 100%, 50%;

    /* font stuff below */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    
    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: whitesmoke;
    background-image: linear-gradient( hsl( var(--clr-dark-blue)),hsl(var(--clr-light-blue)));
    line-height: 1.5;
    min-height: 100vh;
    
}

/* make form elements easier to work with */
input,
button{
    font: inherit;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    margin-top: 2rem;
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}
input {
    text-align: center;
}

header {
    font-family: var(--ff-sans-cond);
    text-align: center;
    padding-bottom: 1rem;
    outline:auto;
}
.container-label {
    font-size: var(--fs-500);
    font-family: var(--ff-serif);
    text-align: center;
    color: hsl(var(--clr-dark-orange) );
}
.search-history {
    border-radius: 5px;
    margin-right: 2rem;
    flex-basis: 33%;
    outline: auto;
    background-color: cornflowerblue;
    outline-color: cornsilk;
}
.city-name {
    border-radius: 15px;
}
.dashboard {
    border-radius: 5px;
    text-align: center;
    flex-basis: 65%;
    outline: auto;
    background-color: cornflowerblue;
    outline-color: cornsilk;
}
/* .todays-weather {
    display:flex;
    text-decoration: none;

} */

@media screen and (max-width: 767px) {
    .container{
        padding: 0px
    }
    .flex{
    flex-direction: column;
    }
    .search-history {
        margin: 1rem;

    }
    .dashboard {
        margin:1rem;
    }
    header {
        margin:1rem;
    }
}